/*respoonsivenes for tablet screen*/

@media screen and (min-width: 600px) and (max-width: 900px) {
    
}
body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.logo {
    height: 50px;
    width: 300px;
    margin: 20px;
    object-fit: cover;
}

nav{
    height: 55px;
    width: 95%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(153, 153, 187);
    border-radius: 10px;
}

.navButton{
    height: 40px;
    width: 100px;
    margin: 5px;
    background-color: transparent;
    border: none;
    color: #2c2a58;
}


.CoursesOverview {
    display: flex;
    padding: 20px;
    margin-top: 20px;

}

img.coursesoverview-image{
    border-radius: 20px;
    object-position: bottom;
}

.coursesoverview-text{
    background-color: cornsilk;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
}

.resources{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.resources-text{
    text-align: center;
}
 .resources-image{
    padding: 20px;
    border-radius: 10px;
 }

 img.resources-image{
    border-radius: 10px;
 }

.text {
    width: 40%;
    border-radius: 5%;
    background-color: cornsilk;
    border-style: block;
    padding: 20px;
    margin-top: 20px;
}

.video {
    width: 60%;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20%;
    border: 2px solid blueviolet;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:#2c2a58 ;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:honeydew;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
hr {
    margin-top: 50px;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.courses {
    display: flex;
    justify-content: space-between;
    background-color: #BD9C6C;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.course-item {
    width: 45%;
    margin-bottom: 20px;
}
.vl{
    border-left: 3px, black 
}

.mphil {
    word-wrap: break-word;
    text-wrap: wrap;
    border-left: 3px, black;
    width:25%;
    padding: 10px;

}

.shortcourse {
    width: 25%;
    padding: 10px;
}

.phd{
    width: 25%;
    padding: 10px;
}

.undergraduate {
    width: 25%;
    padding: 10px;
}

button {
    background-color: #2c2a58;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.resources-title{
    color:#2c2a58 ;
    text-align: center;
}

.useful-resource{
    background-color: cornsilk;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #2c2a58;
    color: white;
    padding: 20px;
    margin-top: 20px;
    max-width: 100%;
}

.admission,
.about,
.contactus {
    width: 30%;
}

.footer h2 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.footer p {
    margin: 10px 0;
}

.contact-info {
    margin-top: 10px;
}

.location {
    margin-top: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
