/*respoonsivenes for tablet screen*/

@media screen and (min-width: 600px) and (max-width: 900px) {
    nav button:nth-last-child(-n+3){
        display: none;
    }
    
}

@media screen and (max-width: 500px){
    nav button:nth-last-child(-n+4){
        display: none;
    }
    
    .coursesOverview-text{
        max-width: 350px;
    }
    .coursesOverview-image{
        max-width: 350px;
    }
    .courses{
        max-width: 90%;
    }
}

@media screen and (max-width: 450px){
    .coursesOverview-text{
        max-width: 290px;
    }
    .coursesOverview-image{
        max-width: 290px;
    }
    .courses{
        max-width: 90%;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    height: 50px;
    width: 300px;
    margin: 20px auto;
    object-fit: cover;
}

nav{
    height: 55px;
    width: 95%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #a07d50;
}

.navButton{
    height: 40px;
    width: 100px;
    margin: 5px;
    background-color: transparent;
    border: none;
    color: #2c2a58;
}

button {
    background-color: #a07d50;
    border: none;
    color: white;
    cursor: pointer;
  }

  

.coursesOverview-text,
.coursesOverview-image,
.course-item,
.resources div,
.footer,
.useful-resource {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.coursesOverview-text:hover,
.coursesOverview-image:hover,
.course-item:hover,
.resources div:hover,
.footer:hover,
.useful-resource:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

button,
.course-item button {
    transition: background-color 0.3s ease-in-out;
}



.coursesOverview {
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly; 
 
}
.coursesOverview-text{
    height: 450px;
    width: 400px;
    margin: 20px auto;
    background-color: #072a5a; 
    border-radius: 20px; 
    padding: 50px;
    color: white;
    animation: slideInFromLeft 2.5s ease;
}

.coursesOverview-text button{
    height: 50px;
    width: 120px;
    margin-top: 70px;
    border-radius: 8px;
}
 
.coursesOverview-image{
    width: 680px;
    height: 550px;
    margin: 20px auto;
    border-radius: 20px;
    object-fit: cover;
    animation: slideInFromRight 2.5s ease;
} 


hr {
    height: 2px;
    width: 90%;
    margin: 30px auto;
    background-color: black;
    border: none;
}

.title{
    width: 350px;
    margin: 30px auto;
    text-align: center;
}
.courses { 
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly; 
  
    padding: 20px; 
    border-radius: 20px; 
    margin: 20px auto; 
} 
 
.course-item { 
    height: 300px;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #072a5a;
}

.course-item button{
    height: 40px;
    width: 120px;
    margin-top: 70px;
    border-radius: 8px
}
.resources{ 
    display:flex; 
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-evenly; 
}

.resources div{
   height: 250px;
   width: 200px;
   margin: 10px auto;
}
 
.resources-text{ 
    text-align: center; 
} 

 .resources-image{ 
    height: 170px;
    width: 200px;
    object-fit: cover; 
    border-radius: 10px; 
 } 

.text {
    width: 40%;
    border-radius: 5%;
    background-color: #a07d50;
    color: white;
    padding: 20px;
    margin: 20px auto;
}

hr {
    margin-top: 50px;
}


.mphil {
    word-wrap: break-word;
    text-wrap: wrap;
    border-left: 3px, black;
    width:25%;
    padding: 10px;

}

.shortcourse {
    width: 25%;
    padding: 10px;
}

.phd{
    width: 25%;
    padding: 10px;
}

.undergraduate {
    width: 25%;
    padding: 10px;
}



.resources-title{
    color: white;
    text-align: center;
}

.useful-resource{
    width: 95%;
    background-color: #a07d50;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    color: white;
}

footer { 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly; 
    background-color: #072a5a; 
    color: white; 
    padding: 20px; 
    margin: 20px auto; 
    width: 95%;
    border-radius: 20px;
} 
 
.admission, 
.about, 
.contactus { 
    width: 300px; 
} 

.about{
    word-wrap: break-word;
}
 
footer h2 {
    color: #a07d50;
} 
 
footer p { 
    margin: 10px 0; 
} 
 
.contact-info { 
    margin-top: 10px; 
} 
 
.location { 
    margin-top: 10px; 
} 
 
a { 
    color: white; 
    text-decoration: none; 
} 
 
footer a:hover { 
    text-decoration: underline; 
}
